/.DS_Store
docs/.DS_Store
docs/_images/.DS_Store
source/.DS_Store
source/_static/.DS_Store
source/blog/summary/*.rst
source/blog/ai-services/*.rst
source/blog/ml-services/ml-services-overview*
images/.DS_Store
/make.bat
.python-version
